<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">TP4 INF3710</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/planrepas">Ajouter un plan</a>
        <a class="nav-item nav-link active" routerLink="/plantes">Modifier un plan</a>
        <a class="nav-item nav-link active" routerLink="/varietes">Supprimer un plan</a>
      </div>
    </div>
  </nav>
  <app-plan-repas></app-plan-repas>
  <router-outlet></router-outlet>
</div>
