<h1 mat-dialog-title>Veuillez ajouter les informations du nouveau d'un nouveau plan repas</h1>
<div mat-dialog-content>
    <form>
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Categorie</mat-label>
          <input matInput #message maxlength="15" placeholder="Categorie" [(ngModel)]="data.categorie">
          <mat-hint>{{message.value.length}} / 15</mat-hint>
      </mat-form-field>
    </form>
    <form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fréquence</mat-label>
        <mat-select [(ngModel)]="data.frequence">
          <mat-option *ngFor="let frequence of frequences" [value]="frequence">
            {{frequence}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre de personnes</mat-label>
        <mat-select [(ngModel)]="data.nbpersonnes">
          <mat-option *ngFor="let nbpersonne of nbpersonnes" [value]="nbpersonne">
            {{nbpersonne}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre de calories</mat-label>
        <input matInput type="number" min="1" [(ngModel)]="data.nbcalories">
      </mat-form-field>
    </form>
    <form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Prix ($)</mat-label>
        <input matInput type="number" [(ngModel)]="data.prix">
      </mat-form-field>
    </form>
    <form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fournisseur</mat-label>
        <mat-select [(ngModel)]="data.numerofournisseur">
          <mat-option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur">
            {{fournisseur}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]="data.categorie" cdkFocusInitial (click)="addPlan()">Valider</button>
</div>
